*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:linear-gradient(180deg,#1d4ed8,#0f172a);
overflow:hidden;
color:white;
}

.screen{
width:100%;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
position:absolute;
top:0;
left:0;
transition:.5s;
}

.hidden{
display:none;
}

#loginScreen{
justify-content:space-between;
padding:80px;
}

.left{
width:45%;
}

.left h4{
color:#FFD700;
font-size:20px;
margin-bottom:20px;
}

.left h1{
font-size:70px;
line-height:1;
margin-bottom:20px;
}

.left p{
font-size:22px;
line-height:1.8;
color:#ddd;
}

.right{
width:40%;
display:flex;
justify-content:center;
}

.card{
background:rgba(255,255,255,.12);
backdrop-filter:blur(20px);
padding:40px;
border-radius:20px;
width:420px;
box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.card h2{
text-align:center;
margin-bottom:25px;
}

.card input{
width:100%;
padding:16px;
border:none;
border-radius:10px;
margin-bottom:20px;
font-size:18px;
}

.card button{
width:100%;
padding:16px;
border:none;
border-radius:10px;
background:#dc2626;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

.card button:hover{
transform:translateY(-3px);
background:#ef4444;
}

.loading-box{
width:500px;
text-align:center;
}

.loading-bar{
margin-top:30px;
height:18px;
background:#ffffff33;
border-radius:30px;
overflow:hidden;
}

#loadingFill{
width:0%;
height:100%;
background:#FFD700;
transition:.2s;
}

#gameScreen{
flex-direction:column;
}

.header{
margin-top:20px;
}

.arena{
position:relative;
width:350px;
height:600px;
margin-top:20px;
}

#pole{
position:absolute;
left:50%;
transform:translateX(-50%);
width:40px;
height:500px;
background:#8B4513;
bottom:40px;
border-radius:20px;
}

#box{
position:absolute;
left:50%;
transform:translateX(-50%);
top:20px;
font-size:60px;
}

#player{
position:absolute;
left:50%;
transform:translateX(-50%);
bottom:20px;
font-size:55px;
transition:.2s;
}

.progress{
margin-top:20px;
width:400px;
height:22px;
background:#ffffff22;
border-radius:30px;
overflow:hidden;
}

#progressFill{
width:0%;
height:100%;
background:#22c55e;
transition:.2s;
}

#climbBtn{
margin-top:25px;
padding:18px 50px;
font-size:22px;
border:none;
border-radius:15px;
background:#dc2626;
color:white;
cursor:pointer;
}

#rewardScreen{
flex-direction:column;
gap:20px;
}

#rewardScreen button{
padding:18px 40px;
font-size:20px;
border:none;
border-radius:12px;
background:#16a34a;
color:white;
cursor:pointer;
}

@media(max-width:900px){

#loginScreen{
flex-direction:column;
padding:30px;
text-align:center;
}

.left,
.right{
width:100%;
}

.left h1{
font-size:50px;
}

.card{
width:100%;
max-width:420px;
margin-top:30px;
}

.progress{
width:90%;
}

}
